@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: #F8F8F8;
  --primary: #00cbff;
  --secondary: #281F68;
  --tertiary: #646464;
  --platinum: #E5E5E5;
  --ferngreen: #566E3E;
  --munsell: #2E93AD;
  --white: #FFFFFF;
  --black: #1F1F1F;

  @screen md {
    --text-base: 1 rem;
  }
  @screen lg {
    --text-base: 1.125 rem;
  }
  @screen xl {
    --text-base: 1.25 rem;
  }
  @screen 2xl {
    --text-base: 1.5 rem;
  }
}

body {
  font-family: var(--font-helvetica);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  p {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}

input[type= "number"] {
  --webkit-appearance: none;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Ensure padding and background styling */
select::-ms-expand {
  display: none; /* Remove dropdown icon in IE */
}